/*  */
/* Costom properties */
/*  */
:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 232 70% 65%;
    /* --clr-light: 231 38% 60%; */
    --clr-white: 0 0% 100%;
    --clr-black: 0 0% 0%;

    /* font-sizes */
    /* not px but rem bc of default fonts set by user */
    --fs-900: clamp(4rem, 8vw + 1rem, 5.5rem);
    /* --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 1rem; */
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

/* em not rem cuz safari */
@media (min-width: 1em) {
    :root {
        /* font-sizes */
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 57em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}




/*  */
/* Reset */
/*  */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    /* make font family default with --ff */
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl( var(--clr-white) );
    background-color: hsl( var(--clr-dark) );
    line-height: 1.5;
    min-height: 100vh;

    display: grid;
    grid-template-rows: min-content 1fr;
    /* make the space not be equal */
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animatiosn for ppl who have turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}




/*  */
/* Utility classes */
/*  */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

/* Andy Bell */
/* select everything dat has a sibling before it */
/* for equal padding on top and bottom */
/* .flow > *:not(:first-child) - the specificity is tricky doe so *:where(:not(:first-child)) */
.flow > * + * {
    margin-top: var(--flow-space, 1rem);
}

.container {
    padding: 0 2em;
    margin-inline: auto;
    max-width: 80rem;
}

/* visiual imparement */
/* visually hides it but doesnt remove it from page*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* Colors */
.bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-light { background-color: hsl( var(--clr-light) );}
.bg-white { background-color: hsl( var(--clr-white) );}
.bg-black { background-color: hsl( var(--clr-black) );}

.text-dark { color: hsl( var(--clr-dark) );}
.text-light { color: hsl( var(--clr-light) );}
.text-white { color: hsl( var(--clr-white) );}

/* Typography */
.ff-serif { font-family: var(--ff-serif); }
.ff-sans-cond { font-family: var(--ff-sans-cond); }
.ff-sans-normal { font-family: var(--ff-sans-normal); }

.letter-spacing-1 { letter-spacing: 4.75px; }
.letter-spacing-2 { letter-spacing: 2.7px; }
.letter-spacing-3 { letter-spacing: 2.35px; }

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.numbered-title {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    /* px for dec points */
    letter-spacing: 4.72px;
}

.numbered-title span {
    margin-right: .5rem;
    font-weight: 700;
    color: hsl( var(--clr-white) / .25);
}




/*  */
/* Components */
/*  */
.logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
    filter: hue-rotate(200deg);
}

.primary-header {
    justify-content: space-between;
    align-items: center;
}

.primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3.5rem);

    --underline-gap: 1.10rem;
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl( var(--clr-black) );

    text-align: center;
    white-space: nowrap;
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > span {
    font-weight: 700;
    margin-right: .5em;
}


.mobile-nav-toggle {
    display: none;
}

@media (max-width: 39rem) {
    .logo {
        padding-top: .6rem;
        width: 30px;
        height: auto;
    }

    .primary-navigation {
        --underline-gap: .5rem;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        list-style: none;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;

        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }

    .primary-navigation[data-visible="true"]
    {
        transform: translateX(0);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        border: 0;
        right: 1rem;
        top: 2rem;
        width: 1.5rem;
        background: transparent;
        background-image: url(/images/hamburger_menu/svg1.svg);
        aspect-ratio: 1;
        background-repeat: no-repeat;
        background-position: center;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(/images/hamburger_menu/svg2.svg);
    }

    .mobile-nav-toggle:focus-visible {
        outline: 5px solid whitesmoke;
        outline-offset: 5px;
    }

    .primary-navigation li {
        text-align: start;
    }
}

@media (min-width: 38.999em) {

    .primary-navigation {
        padding-inline: clamp(3rem, 2vw, 15rem);
        /* makes the padding on the nav for bigger screens bigger and smaller */
    }
}

@media (min-width: 39em) and (max-width: 56.999em)
{
    .logo {
        margin-top: 2.3rem;
        width: 40px;
        height: auto;
    }

    .primary-navigation a > span {
        display: none;
    }

    .primary-header::before {
        content: '';
        display: block;
        position: relative;
        height: 1px;
        width: 100%;
        margin-right: -2.5rem;
        background: hsl( var(--clr-black) );
        order: 1;
    }

    nav {
        order: 2;
    }

    .primary-header::after {
        content: '';
        display: block;
        position: relative;
        height: 1px;
        width: 100%;
        margin-right: -2.5rem;
        background: hsl( var(--clr-black) );
        order: 3;
    }

}

@media (min-width: 57em)
{
    .logo {
        margin-top: 2rem;
        width: 49px;
        height: auto;
    }

    .primary-header::after {
        content: '';
        display: block;
        position: relative;
        height: 1px;
        width: 100%;
        margin-right: -2.5rem;
        background: hsl( var(--clr-white) / .25);
        order: 1;
    }

    nav {
        order: 2;
    }

    .primary-navigation {
        margin-block: 2rem;
    }
}


/* every direct child */
.underline-indicators > * {
    padding: var(--underline-gap, 1rem) 0;
    border: 0;
    cursor: pointer;
    border-bottom: 0.1rem solid hsl( var(--clr-white) / 0);
    background-color: hsl( var(--clr-black) );

}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
    border-color: hsl( var(--clr-light) / .5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
    color: hsl( var(--clr-light) / 1);
    border-color: hsl( var(--clr-light) / 1);
}

.tab-list {
    --gap: 2rem;
}

.dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: .5em;
    background-color: hsl( var(--clr-light) / .25);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
    background-color: hsl( var(--clr-light) / .5);
}

.dot-indicators > [aria-selected="true"] {
    background-color: hsl( var(--clr-light) / 1);
}

.numbers > * {
    cursor: pointer;
    border-width: .10rem;
    border-style: solid;
    border-radius: 50%;
    padding: 0 2rem;
    aspect-ratio: 1;
    background-color: hsl( var(--clr-dark) / .25);
    border-color: hsl( var(--clr-white) /.05);
}

.numbers > *:hover,
.numbers > *:focus {
    background-color: hsl( var(--clr-dark) / .5);
    border-color: hsl( var(--clr-white) / 1);
}

.numbers > [aria-selected="true"] {
    background-color: hsl( var(--clr-white) / 1);
    color: hsl( var(--clr-dark) / 1);
}

/* h1 span {
    display: block;
    letter-spacing: 0px;
    outline: 3px solid pink;
} */

/*  */
/* Page specific backgrounds */
/*  */

.home {
    background-color: hsl( var(--clr-black) );
}

.structure {
    background-color: hsl( var(--clr-black) );
}

.magnetic-field {
    background-color: hsl( var(--clr-black) );
}

.characteristics-life-span {
    background-color: hsl( var(--clr-black) );
}




/*  */
/* Layout */
/*  */
.grid-container {
    text-align: center;
    display: grid;
    place-items: center;
    padding-inline: 1rem;
    padding-bottom: 4rem;
}

.numbered-title {
    grid-area: title;
}

.main_image {
    height: 350px;
}


/* Home layout */
.grid-container--home h1:not(span) {
    white-space: nowrap;
}

.grid-container--home h1 span {
    display: block;
    white-space: normal;
    letter-spacing: 0px;
}


/* Structure layout */
.grid-container--structure {
    grid-template-areas:'title' 'image' 'tabs' 'content';
}

.grid-container--structure > img {
    grid-area: image;
}

.grid-container--structure > .tab-list {
    grid-area: tabs;
    text-align: center;
    /* outline: solid pink 1px; */
    padding-bottom: 1rem;
}

.grid-container--structure > .structure-info {
    grid-area: content;
}

.structure-meta {
    flex-direction: column;
    border-top: 1px solid hsl( var(--clr-white) / .1);
    padding-top: 2.5rem;
    margin-top: 2.5rem;
}

.structure-meta p {
    font-size: var(--fs-300);
    font-style: italic;
}


/* Magnetic Field layout */
.grid-container--magnetic-field {
    grid-template-areas:'title' 'image' 'tabs' 'content';
}

.grid-container--magnetic-field > img {
    grid-area: image;
    max-width: 60%;
}

.magnetic-field-meta > .tab-list {
    grid-area: tabs;
    text-align: center;
}

.grid-container--magnetic-field > .magnetic-field-info {
    grid-area: content;
}

.magnetic-field-info p:nth-child(2) {
    max-width: 49ch;
    text-align: center;
}

.magnetic-field-meta {
    flex-direction: column;
    border: 1px solid hsl( var(--clr-white) / .1);
    padding: 1.5rem;
    padding-top: 1rem;
    margin-top: 2.5rem;
}

.magnetic-field-meta p {
    font-style: italic;
    font-size: var(--fs-300);
    max-width: 57ch;
}


/* Characteristics- & Life span layout */
.grid-container--characteristics-life-span {
    grid-template-areas:'title' 'image' 'tabs' 'content';
}

.grid-container--characteristics-life-span > img {
    grid-area: image;
    height: 350px;
    width: auto;
    outline: 1px hsl( var(--clr-light) ) solid;
}

.characteristics-life-span-info > .dot-indicators {
    grid-area: tabs;
}

.grid-container--characteristics-life-span > .characteristics-life-span-info {
    grid-area: content;
}

.characteristics-life-span-meta {
    flex-direction: column;
    border-top: 1px solid hsl( var(--clr-white) / .1);
    padding-top: 1.5rem;
    margin-top: 2.5rem;
}

.characteristics-life-span-meta p {
    font-style: italic;
    font-size: var(--fs-300);
    max-width: 46ch;
}

.characteristics-life-span-info p {
    font-size: var(--fs-300);
    max-width: 57ch;
}


@media (min-width: 38.999em) {

    .numbered-title {
        margin-top: 2rem;
    }


    /*** Structure grids ***/
    .structure-meta {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .grid-container--structure > .tab-list * {
        flex-grow: 1;
        text-align: center;
    }


    /* Mag. fl. grids */
    .magnetic-field-meta {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .magnetic-field-meta > .tab-list * {
        flex-grow: 1;
        text-align: center;
    }


    /* Characteristics- & Life span grids */
    .characteristics-life-span-meta {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .characteristics-life-span-info > .dot-indicators {
        justify-content: center;
    }
}


@media (max-width: 39rem) {
    /*** Home grids ***/
    .grid-container--home img {
        height: 300px;
        outline: 1px solid pink;
    }


    /*** Structure grids ***/
    .grid-container--structure > .tab-list * {
        flex-grow: 1;
        --gap: clamp(1rem, .15vw, 4rem);
        font-size: var(--fs-200);
        text-align: center;
    }

    .structure-info h2{
        font-size: 2.30rem;
    }

    .grid-container--structure > img {
        grid-area: image;
        height: 200px;
        width: 350px;
    }


    /* Mag. field grids */
    .magnetic-field-meta > .tab-list * {
        flex-grow: 1;
        --gap: clamp(1rem, .15vw, 4rem);
        font-size: var(--fs-200);
        text-align: center;
    }

    .magnetic-field-info h2 {
        font-size: 2.30rem;
    }


    /* Characteristics- & Life span grids */
    .characteristics-life-span-info > .dot-indicators {
        justify-content: center;
    }

    .characteristics-life-span-info h2{
        font-size: 2.30rem;
    }

    .grid-container--characteristics-life-span > img {
        grid-area: image;
        height: 330px;
        width: auto;
        /* outline: 10px solid red; */
    }
}


/* Mag. field para cant fix;( so slapped a media q maybe cuz the column? */
@media (min-width: 31em) and (max-width: 56.999em) {
    .magnetic-field-info p:nth-child(2) {
        margin-left: 3.5rem;
        margin-right: 3.5rem;
    }

    .grid-container--structure > img {
        grid-area: image;
        height: 300px;
        width: 500px;
    }
}


@media (min-width: 57em) {

    .numbered-title {
        justify-self: start;
        margin-top: 2rem;
    }

    .grid-container {
        text-align: left;
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: 2em minmax(0, 40rem) minmax(0, 40rem) 2em;
        /* always change grid-template */
        /* so the p can shrink */
    }


    /* ** Home grids ** */
    .grid-container--home {
        grid-template-columns: minmax(1rem, 10rem) minmax(10rem, 40rem) minmax(20rem, 40rem) minmax(1rem, 10rem);
        justify-items: center;
        align-items: center;

        padding-bottom: 6rem;
    }

    .grid-container--home > *:first-child {
        grid-column: 2;
    }

    .grid-container--home > *:last-child {
        grid-column: 3;
    }


    /*** Structure grids ***/
    .grid-container--structure {
        grid-template-columns: minmax(1rem, 1fr) minmax(0, 40rem) minmax(0, 40rem) minmax(1rem, 1fr);
        justify-items: start;
        align-items: start;
        grid-template-areas: 
            '. title title .'
            '. image tabs .'
            '. image content .';

        padding-bottom: 15rem;
        /* fixes the problem with padding between title and overlook title and all kinda */
    }

    .grid-container--structure > img {
        grid-area: image;
        width: 500px;
        height: auto;
        margin-top: 6rem;
        grid-column: 2;
    }

    .grid-container--structure > *:last-child {
        grid-column: 3;
    }

    .structure-meta {
        --gap: min(15vw, 6rem);
        justify-content: start;
    }


     /*** Magnetic fl. grids ***/
    .grid-container--magnetic-field {
        grid-template-columns: minmax(0, 15rem) minmax(25rem, 40rem) minmax(30rem, 40rem) minmax(0, 15rem);
        justify-items: center;
        align-items: center;
        grid-template-areas:
            '. title title .'
            '. image content .'
            '. image tabs .';
    }

    .grid-container--magnetic-field > *:last-child {
        grid-area: content;
        padding-top: 2rem;
    }

    .magnetic-field-info h2 {
        text-align: center;
        padding-bottom: 1rem;
    }

    .magnetic-field-info p {
        text-align: center;
    }

    .magnetic-field-info p:nth-child(2) {
        margin-left: 1.8rem;
    }

    .grid-container--magnetic-field > img {
        grid-area: image;
        /* height: 300px; */
        /* width: auto; */
        /* justify-self: right; */
        /* outline: 1px hsl( var(--clr-white) ) solid; */
        padding-bottom: 8rem;
    }

    .magnetic-field-meta {
        margin-top: 2rem;
        grid-area: tabs;
    }

    .magnetic-field-meta p {
        text-align: center;
    }

    /* Characteristics- & Life span grids */
    .grid-container--characteristics-life-span {
        grid-template-columns: minmax(0, 15rem) minmax(30rem, 40rem) minmax(35rem, 40rem) minmax(0, 5rem);
        /* grid-template-columns: minmax(0, 15rem) minmax(10rem, 40rem) minmax(30rem, 40rem) minmax(0, 5rem); */
        /* grid-template-columns: minmax(0, 15rem) minmax(30rem, 40rem) minmax(30rem, 40rem) minmax(0, 5rem); */
        /* --flow-space: 2rem; */
        justify-items: start;
        align-items: start;
        grid-template-areas:
            '. title title .'
            '. content image .'
            '. tabs tabs .';
        /* padding-bottom: 6rem; */
    }

    .grid-container--characteristics-life-span > img {
        grid-column: 3;
        margin-right: 11rem;
        margin-bottom: 10rem;
    }

    .grid-container--characteristics-life-span > .life-span-image {
    margin-right: 11rem;
    margin-bottom: 14rem;
}

    .grid-container--characteristics-life-span > *:last-child {
        grid-column: 2;
    }

    .characteristics-life-span-meta {
        justify-content: start;
    }

    .characteristics-life-span-info > .dot-indicators {
        justify-content: center;
        margin-bottom: 2rem;
    }

    .grid-container--characteristics-life-span > h1 {
        margin-bottom: 0.5rem;
    }

    .characteristics-life-span-info > h2 {
        margin-bottom: 1rem;
    }
}


.grid-container > img,
.grid-container [class*="image"] {
    justify-self: center;
    align-self: center;
}